{{ define "main" }}

<div class="jumbotron">
  <h1 class="display-4">This Changes Everything.</h1>
  <p class="lead">
    Introducing TERD.solutions. Nothing will ever be the same.
    Everything will be different. A revolution.
  </p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<h3>Recent Articles</h3>
{{ $posts := .Paginate (where .Data.Pages "Type" "posts") }}
{{ range $posts.Pages }}
<a href="{{ .RelPermalink }}">{{ .Title }}</a>
{{ end }}

{{ end }}
